$lineHeightSmall: 1.18em; //дробне значення бо не проходило тест
$fontRoboto: "Roboto", sans-serif;
$colorWhite: #fff;
$colorBlue: #00acdc;
$marginBottomCard: 50px;
$lineHeightBig: 15px;
$photoHeight: 134px;
$photoBordrerHeight: 3px;
