@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
header {
  display: grid;
  grid-template-columns: 31% 69%;
  grid-template-rows: 1fr;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 60px;
  margin-bottom: 50px;
  padding: 0 50px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); }
  @media screen and (max-width: 1024px) {
    header {
      grid-template-columns: 18% 82%;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  header .logo {
    display: grid;
    justify-self: start;
    padding: 10px 0;
    line-height: 0; }
  header .logo:hover {
    -webkit-animation: rotatelogo 3s both 1 linear;
            animation: rotatelogo 3s both 1 linear; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0; }

.nav__elem {
  margin-right: 20px;
  list-style-type: none; }

.nav__elem:last-child {
  margin-right: 0;
  margin-left: 0; }

.nav__link {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 12px;
  line-height: 60px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  -webkit-transition: color 0.5s;
  transition: color 0.5s; }

.nav__link:hover {
  color: #00acdc; }

.is-active {
  color: #00acdc; }
  .is-active:after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    bottom: 0;
    height: 4px;
    background-color: #00acdc;
    border-radius: 2px; }

@-webkit-keyframes rotatelogo {
  from {
    -webkit-transform: rotate3d(10, 10, 10, 10deg);
            transform: rotate3d(10, 10, 10, 10deg); }
  to {
    -webkit-transform: rotate3d(360, 360, 360, 360deg);
            transform: rotate3d(360, 360, 360, 360deg); } }

@keyframes rotatelogo {
  from {
    -webkit-transform: rotate3d(10, 10, 10, 10deg);
            transform: rotate3d(10, 10, 10, 10deg); }
  to {
    -webkit-transform: rotate3d(360, 360, 360, 360deg);
            transform: rotate3d(360, 360, 360, 360deg); } }

.product_card {
  width: 200px;
  margin-right: 48px;
  margin-bottom: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #fff;
  border: 1px solid #f3f3f3;
  border-radius: 5px; }
  .product_card:nth-child(4n) {
    margin-right: 0; }
  .product_card--photo {
    display: block;
    margin: 20px auto 35px;
    -webkit-transition: -webkit-transform 0.2s linear;
    transition: -webkit-transform 0.2s linear;
    transition: transform 0.2s linear;
    transition: transform 0.2s linear, -webkit-transform 0.2s linear;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 134px;
    width: 160px; }
  .product_card--photo:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    border-radius: 5px;
    margin: 15px auto 35px;
    border: 3px solid #f3f3f3; }
  .product_card--content {
    padding: 0 14px 15px; }
  .product_card--title {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 6px; }
  .product_card--id {
    font-size: 11px;
    line-height: 1.18em;
    margin-bottom: 15px; }
  .product_card--rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 20px; }
  .product_card--review {
    font-size: 11px;
    line-height: 1.18em;
    text-align: right;
    color: black;
    text-decoration: none;
    -webkit-transition: color 0.3s;
    transition: color 0.3s; }
  .product_card--review:hover {
    color: #00acdc; }
  .product_card--price {
    margin-bottom: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center; }
  .product_card--price span:nth-child(1) {
    font-size: 11px;
    line-height: 1.18em;
    padding-top: 5px; }
  .product_card--price span:nth-child(2) {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    text-align: right; }

.stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  .stars .star {
    background-image: url("../images/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;
    width: 15px;
    margin-right: 4px; }
  .stars--4 div:nth-child(-n+4) {
    background-image: url("../images/star-active.svg"); }

.button_buy {
  display: block;
  padding: 11px 10px;
  font-size: 14px;
  line-height: 16px;
  background-color: #00acdc;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: 1px solid transparent;
  -webkit-transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  transition: color 0.3s, border-color 0.3s, background-color 0.3s;
  text-decoration: none; }
  .button_buy:hover {
    border: 1px solid #00acdc;
    background: #fff;
    color: #00acdc; }

body,
p {
  margin: 0;
  padding: 0; }

html {
  font-family: "Roboto", sans-serif; }

.content {
  display: grid;
  grid-auto-columns: 200px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/*# sourceMappingURL=main.css.map */
